<header>
  <div class="up_page">
    {{>header}}
  </div>
  {{>menu}}
</header>

<main class="recover_email">
  <p class="recover_msg">Please enter your new password. It must be different from your previous one.</p>
  <form id="formResetPassword" action="/api/sessions/reset-password" method="post">
    <input type="hidden" name="token" value="{{token}}" />
    <div class="container_form_recover">
      <label for="password"><b>Enter new password</b></label>
      <input class="form_input" type="password" placeholder="Enter Password" name="password" />
      <div class="button-container">
        <button class="button_form" type="submit">Reset password</button>
      </div>
    </div>
  </form>
</main>

<footer></footer>

<script src="/assets/js/resetPassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
